version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-apache
    volumes:
      - ./:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: mysql-db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - TZ=Europe/Paris # Set the timezone to Paris

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    env_file:
      - .env
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
